/* stylesheet for Versa devices */
#body {
  font-family: System-Regular;
}

#currStage {
  fill: white;
  x: 10%;
  y: 10%;
  font-size: 30;
  text-length: 100;
}

#iterations {
  fill: white;
  x: 68%;
  y: 10%;
  font-size: 30;
}

#counter {
  fill: green;
  x: 50%;
  y: 55%;
  font-size: 100;  
}

#pauseBtn {
  text-length: 100;
  y: 230;
}

#highScore {
  fill: white;
  y: 5%;
  font-size: 25;
  fill: lightgreen;
}

#summaryHeader {
  font-size: 40;
  x: 50%; 
  text-anchor: middle;
  fill: fb-blue;
  y: 30;
}

#summarySubHeader {
  font-size: 18;
  x: 50%; 
  text-anchor: middle;
  fill: white;
  y: 45;
}

#statArea {
  fill: white;
  y: 60;
  font-size: 25;
}

#footer {
  fill: yellow;
  font-size: 20;
  display: none;
}

#disclaimer {
  font-size: 15;
  fill: white; 
  display: none;
}

